.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 150px;
    border: none;
    font-size: 14px;
    padding: 17px;
    background-color: rgb(148, 37, 59);
    color: white;
    cursor: pointer;
}
