.categoryList{
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryItem{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.bg{
    background-color: #57c4ff31;
}